.shop-items {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  list-style: none;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
.shop-items .shop-item {
  display: inline-block;
  padding: 10px;
}
